@font-face {
	font-family: florisfont;
	src: url(Floris-Regular.ttf);
}

body {
	background-image: url("gusart.png");
	background-size: cover;
	background-position: center;
	overflow: Scrollbar;
	height: 100%;
	display: flex;
	justify-content: center;
	padding-left: 100px;
}

#schreeuw {
	font-size: 30px;
	height: 90px;
	width: 90px;
	position: fixed;
	top: 300px;
	left: 30px;
	font-weight: bold;
	
}

#backtomenu {
	top: -1vh;
	left: -1vh;
	transform-origin: center center;
	position:fixed;
	
}

.row {
	margin-top: 20px;
	padding-left: 4px;
	padding-right: 4px;
}

.row2 {
	margin-top: 20px;
	padding-left: 4px;
	padding-right: 4px;
}

.row3 {
	margin-top: 20px;
	padding-left: 4px;
	padding-right: 4px;
}

.row4 {
	margin-top: 20px;
	padding-left: 4px;
	padding-right: 4px;
}

#explanation {
	background-color: #e8ca79;
	font-family: florisfont;
	font-size: 35px;
	
	border: 10px solid #000005;
	
	padding: 15px;
	width: 270px;
	height: 200px;
	
	margin-bottom: 10px;
}

#audioalign {
	margin-top: auto;
	
}

#gu1 {
	border: 10px solid #000005;
	height: 300px;
	width: 300px;
}

#gu2 {
	border: 10px solid #000005;
	height: 300px;
	width: 300px;
}

#gue1 {
	border: 10px solid #000005;
	height: 300px;
	width: 300px;
}

#gue2 {
	border: 10px solid #000005;
	height: 300px;
	width: 300px;
}

h2 {
	font-family: "Courier New";
}

.music { 
	font-family: "Courier New";
	height: 300px;
	margin-top: -310px;
	margin-left: 20px;
	margin-bottom: -5vh;
}

#guramid {
	height: 90px;
	width: 90px;
	position: fixed;
	top: 200px;
	left: 30px;
}